@model Evaluaciones.Web.UI.Areas.BancoPregunta.Models.Pregunta

@{
    ViewBag.Title = "CrearPregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body pn of-h" id="summer-demo">
        <div class="summernote" style="height: 400px;">
        </div>
    </div>
</div>