@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content" class="pn animated fadeIn">

    <div>
        <h1 class="error-title"> 401! </h1>
        <h2 class="error-subtitle">No tiene permisos para acceder a este recurso</h2>
    </div>

</section>