
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div>
    <h1 class="error-title"> 401! </h1>
    <h2 class="error-subtitle">No tiene permisos para acceder a este recurso</h2>
</div>